body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(background.jpg);
  background-size: cover;
  background-position: bottom; /* Position at center of y-axis */
  background-repeat: no-repeat
}

header {
  background-image: url("background.jpg");
  padding: 10px 20px; /* Reduce padding for smaller size */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 1.8em; /* Adjust font size slightly smaller */
  margin-bottom: 5px; /* Reduce margin for better spacing */
}

p {
  line-height: 1.5;
  margin-bottom: 0; /* Remove margin for better alignment */
}

nav {
  display: flex;
  gap: 20px; /* Adjust gap between buttons */
}

nav button {
  padding: 8px 15px; /* Reduce button padding for smaller size */
  border: none;
  background-color: transparent; /* Remove button background */
  color: #333; /* Adjust button text color */
  font-weight: bold;
  cursor: pointer;
  border-bottom: 2px solid transparent; /* Initially transparent underline */
  transition: border-bottom 0.3s ease-in-out; /* Add transition for hover effect */
}

nav button:hover,
nav button:focus {
  border-bottom: 2px solid #333; /* Change underline color on hover/focus */
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 20px; /* Add padding to start content below topbar */
}

h2 {
  margin-top: 0;
}

#about-me, #work, #contact {
  /* Initially hide all content sections */
  display: none;
}

footer {
  text-align: center;
  margin-top: 20px;
}