body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

nav button {
  /* Increase padding or font size for better visibility */
  padding: 15px 30px;
  font-size: 18px;
  /* Consider adding a hover effect or background color change */
  border: 1px solid #ddd;
  background-color: #fff; /* Change background color for better contrast */
  color: #333; /* Adjust text color for readability */
}


nav button:hover {
  background-color: #ccc; /* Adjust button hover color */
}

header {
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

p {
  line-height: 1.5;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 700px;
  margin: 0 auto;
  /* Set a minimum height to ensure content stretches and pushes background */
  min-height: 100vh;
}

h2 {
  margin-top: 0;
}

#about-me, #work, #contact {
  /* Initially hide all content sections */
  display: none;
}

footer {
  text-align: center;
  margin-top: 20px;
}
