body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(background.jpg);
  background-size: cover;
  background-position: top; /* Position at center of y-axis */
  background-repeat: no-repeat;
  overflow-x: hidden;
}


.title {
  position: relative;
  top: -10px; /* Adjust as needed */;
  color:#333;
}

h1 {
  font-size: 2em; /* Adjust font size slightly smaller */
  margin-bottom: 0; /* Reduce margin for better spacing */
}

nav {
  display: flex;
  gap: 20px; /* Adjust gap between buttons */
}

nav button {
  padding: 12px 20px; /* Reduce button padding for smaller size */
  font-size: 1.2em;
  border: none;
  background-color: transparent; /* Remove button background */
  color: #333; /* Adjust button text color */
  font-weight: bold;
  cursor: default;
  border-bottom: 2px solid transparent; /* Initially transparent underline */
  transition: border-bottom 0.3s ease-in-out; /* Add transition for hover effect */
}

nav button:hover,
nav button:focus {
  border-bottom: 2px solid #333; /* Change underline color on hover/focus */
}

section {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

h2 {
  color: #333;
}

p {
  color: #666;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}